<nav>
    <ul>
        <li>
            <a href="/principal">Home</a>
        </li>
        <li>
            <a href="/leyes">Leyes</a>
        </li>
        <li>
            <a href="/fiscalizacion">Fiscalización</a>
        </li>
        <li>
            <a href="/perfil_usuario">Perfil del Usuario</a>
        </li>
        <li>
            <a href="/configuracion_sistema">Configuración Sistema</a>
        </li>
        <% if (typeof user !== 'undefined') { %>
            <li>
                <a href="/logout">Cerrar Sesión (<%= user %>)</a>
            </li>
        <% } %>
    </ul>