<nav>
    <ul>
        <li>
            <a href="/">home</a>
    </li>
    <li> <a href="/leyes"> leyes</a></li>
    <li>
        <a href="/fiscalizacion">fiscalizacion</a>
    </li>
      <li>
        <a href="/perfil_usuario">perfil del usuario</a>
    </li>
     <li>
        <a href="/configuracion_sistema">configuracion_sistema</a>
    </li>
</ul>
</nav>