/*body {
    margin: 0;
    background-color: #222;
    font-family: Arial, sans-serif;
    display: grid;
    place-content: center;
    min-height:  100vh;

}
separamos del componente card donde se renderiza
.App {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
    */
    @import "tailwindcss";
